[mysql]
## 设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql

#log-error       = /var/log/mysql/error.log
## 设置3306端口
port           = 3306

explicit_defaults_for_timestamp
## 开启慢查询日志
slow_query_log=ON 
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=1


## 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

## 表名存储在磁盘空间是小写，但比较时不区分大小写
lower_case_table_names=1
# https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_strict_mode
innodb_strict_mode=off

sql_mode ="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

## 独立表空间
innodb_file_per_table=1 
## 提交方式
innodb_flush_log_at_trx_commit=2 

## NOTE: 重置密码时开启
# skip-grant-tables

#跳过反向解析
skip-name-resolve
skip-external-locking

# 禁用符号链接以防止各种安全风险
#skip-symbolic-links
#skip_ssl
skip_replica_start=1

host_cache_size=0

## 默认使用“mysql_native_password”插件认证, 使用历史密码认证方式
authentication_policy=mysql_native_password

# 设置时区
default-time_zone='+8:00'

## 服务端使用的字符集默认为8比特编码的latin1字符集
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

event_scheduler=on

## MySQL会根据配置文件会限制server接受的数据包的大小。
max_allowed_packet=300M

open_files_limit = 65535
innodb_open_files=3000

## 允许最大连接数
max_connections =1000
max_connect_errors =1000

## binlog 配置
log_bin = mysql_bin
## - 设置日志格式，三种：STATEMENT, ROW, MIXED
binlog_format = MIXED
## - 保留时长 7*24*60*60
binlog_expire_logs_seconds=604800
## - 设置文件大小限制
max_binlog_size = 300m
## - 缓存大小
binlog_cache_size = 4M
## - 最大缓存大小
max_binlog_cache_size = 512m

thread_stack=10485760
log_bin_trust_function_creators=1

# replication
relay_log_recovery = 1
relay_log_purge=1

## 从库只开启log-bin功能，不添加log_replica_updates参数，从库从主库复制的数据不会写入log-bin日志文件里。
log_replica_updates=1

## 针对非交互式连接
wait_timeout=2147483 

## 针对交互式连接
interactive_timeout=2147483

## https://www.cnblogs.com/kevingrace/p/10095332.html
#read_only=1

## *服务编号*
#server-id = 1

#gtid
gtid_mode = on

## 强制GTID一致性，开启后对于特定create table 不被支持
enforce_gtid_consistency = 1 
binlog_gtid_simple_recovery = 1

#多线程复制
replica_parallel_workers=4

#semi sync replication settings
plugin-load="rpl_semi_sync_source=semisync_source.so;rpl_semi_sync_replica=semisync_replica.so"
rpl_semi_sync_source_enabled=on
rpl_semi_sync_replica_enabled=on 

transaction_isolation=READ-COMMITTED
replica_skip_errors = 1507,1517